/Code
/gh
/dconf
/pulse
/cef_user_data
/spotify
/discord
/unity3d
/Thunar
/session
/qBittorrent
/bless
/gtk-2.0
/jellyfin
/kde.org
/ksnip
/LDtk
/swi-prolog
/unityhub
/vlc
/xfce4
mimeapps.list
pavucontrol.ini
QtProject.conf
trashrc