/Code
/gh
/dconf
/pulse
/cef_user_data
/spotify
/discord
/discordcanary
/unity3d
/Thunar
/session
/qBittorrent
/bless
/gtk-2.0
/jellyfin
/kde.org
/ksnip
/LDtk
/swi-prolog
/unityhub
/vlc
/xfce4
/aseprite
/lutris
/balena-etcher
/lxqt
/typstfmt
/GIMP
/gtk-3.0
/OpenRGB
/helix/runtime
/helix/grammars
mimeapps.list
pavucontrol.ini
QtProject.conf
trashrc
